@page
@model DT102G___Laboration_1._2.IndexModel
@{
    ViewData["Title"] = "Hem";
}

<h1>Välkommen!</h1>
<p>Denna webbplats skapades som en del av laborationen <span class="bold">Grunderna i ASP.net / Razor</span>.</p>