@page
@model DT102G___Laboration_1._2.AboutModel
@{
    ViewData["Title"] = "Om sidan";
}

<h1>Om sidan</h1>

<p>
    Denna webbplats är skapad av mig, <span class="bold">Linus Östlund</span>, en webbutvecklingsstudent på Mittuniversitetet i Sundsvall, och skapades av som en del av laborationen
    <span class="bold">Grunderna i ASP.net / Razor</span>, som utgör läromoment 1.2 av kursen <span class="italic">ASP.NET med C#</span>
</p>

