<!DOCTYPE html>
<html lang="en-us">
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
    <header>

    </header>
    <nav>
        <ul>
            <li><a href="/">Index</a></li>
            <li><a href="/About">About</a></li>
            <li><a href="/Razor">Razor</a></li>
        </ul>
    </nav>
    <main>
        @RenderBody()
    </main>
</body>
</html>